<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<style type="text/css" media="screen">
	body {
		background-image: url(/assets/top-gradient.png);
		background-repeat: repeat-x;
		background-color:rgb(248,248,248);
		font-family:arial,sans-serif; color: rgba(0,0,0,.8);
		margin:0;
		position:relative;
		padding: 30px 0;
	}
	.bottom-gradient {
		background-image: url(/assets/bottom-gradient.png);
		background-repeat: repeat-x;
		position:absolute; bottom:0; z-index: -1;
		width:100%; height: 266px;
	}
	h1, h3 {margin:0}

	#my-page {
		color: rgba(0,0,0,.78);
		border-top:1px solid rgb(233, 233, 233);
		border-right:1px solid rgb(233, 233, 233);
		border-bottom:1px solid rgb(233, 233, 233);
		background:white;
		max-width:900px;
		padding:15px;
		margin: 0 auto;
	}
	#my-nav{
		-moz-box-shadow: 0px -1px 4px 0px rgb(206, 206, 206);
		-webkit-box-shadow: 0px -1px 4px 0px rgb(206, 206, 206);
		box-shadow:  0px -1px 4px 0px rgb(206, 206, 206);

		-webkit-border-radius: 0 3px 3px 0;
		-moz-border-radius: 0 3px 3px 0;
		border-radius: 0 3px 3px 0;
		
		border-top:1px solid rgb(230, 230, 230);
		border-right:1px rgb(224, 224, 224);
		border-bottom:1px solid rgb(224, 224, 224);
		
		position:fixed; top:5px;
		padding:15px;
		background-color:white;
		margin-left:-20px;
	}
	</style>
</head>


<body>
	<div id="my-page">
		<nav id="my-nav">
			<ul style="font-size:20px; list-style:none; margin:0; padding:0">
				<li><%= link_to_unless_current("vmware", { :controller => 'samples', :action => "vmware" }) %></li>
				<li><%= link_to_unless_current("etrade samples", { :controller => 'samples', :action => "etrade" }) %></li>
				<li><%= link_to_unless_current("raphael.js", { :controller => 'foo', :action => "charting_demo" }) %></li>
				<li><%= link_to_unless_current("jquery plugin", { :controller => 'samples', :action => "jquery_plugin" }) %></li>
				<li><%= link_to_unless_current("backbone/rails", { :controller => 'movie', :action => "moviedb" }) %></li>
				<li><%= link_to_unless_current("processing.js", { :controller => 'samples', :action => "ots_way" }) %></li>
				<li><%= link_to_unless_current("algorithms", { :controller => 'samples', :action => "algos" }) %></li>
			</ul>
			<style>
			#nav-header {
				border-top: 3px solid rgb(209, 209, 209);
				margin-top: 15px;
				background: url(/assets/test-logo.png) 0px 10px no-repeat;
				padding: 10px 0 0 40px;
				line-height: 35px;	
			}
			</style>
			<h1 id="nav-header">Portfolio</h1>
			<div>innerb@gmail.com</div>
		</nav>
		
		<div style="margin-left:170px">
			<%= yield %>
		</div>

		<footer style="font-size:13px; margin-top: 20px;padding-top:10px; border-top: 3px solid rgb(216, 216, 216);">
			You can get a clone of the rails code by:<br>
			<code>$ git clone git@heroku.com:blooming-mountain-679.git</code><br>
		</footer>
	</div>
	<div class="bottom-gradient"></div>
</body>
</html>
