<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css" media="screen">
  h3 {margin:0;}
  </style>
</head>


<body style="background:#ddd; padding:15px 15px 30px">
	<style>
	ul#my-nav {padding:0; margin:0}
	ul#my-nav li {display:inline; padding: 0 15px; border-left: 1px solid gray;}
	</style>
	<ul id="my-nav" style="list-style:none">
		<li><%= link_to_unless_current("eTrade samples", { :controller => 'samples', :action => "etrade" }) %></li>
		<li><%= link_to_unless_current("jQuery plugin", { :controller => 'samples', :action => "jquery_plugin" }) %></li>
		<li><%= link_to_unless_current("movie database", { :controller => 'movie', :action => "index" }) %></li>
	</ul>
	
	
	<style>
	#my-page {
		-moz-box-shadow: 1px 1px 3px 1px #b0b0b0;
		-webkit-box-shadow: 1px 1px 3px 1px #b0b0b0;
		box-shadow: 1px 1px 3px 1px #b0b0b0;
		
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		
		background:white; margin:10px auto; padding: 15px;
		display:inline-block;
	}
	</style>
	<div id="my-page">
		<%= yield %>
	</div>

</body>
</html>
